.groups-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 40vh;
    background-color: #212428;

    overflow-x: hidden;
    overflow-y: auto;
}

.groups-footer {
    position: absolute; 
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding-top: 50px;
}

.req-btn, .menu-btn, .leave-btn {
    display: none;
}

.groups-main {
    display: none;
    padding-top: 25px;
}

.groups-list {
    display: none;
    padding-top: 25px;
}

.groups-requests {
    display: none;
    padding-top: 25px;
}

.group-row {
    text-align: center;
    background-color: grey;
    border-bottom: white 2px solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

.group-row:hover {
    background-color: #5f71fa;
}

.groups-group {
    display: none;
    padding-top: 25px;
}

.main-row {
    padding-top: 25px;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #343a40; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1b36ff; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2c44f8; 
}